:root{
    /* --first: #f21170;
    --second: #fa9905;
    --third: #72147e;
    --fourth: #ff5200 ; */

    /* --first: #822659;
    --second: #b34180;
    --third: #e36bae;
    --fourth: #f8a1d1; */

    /* --first: #d8e3e7;
    --second: #51c4d3;
    --third: #126e82;
    --fourth: #132c33; */

    /* --first: #ff7a00;
    --second: #d44000;
    --third: #864000;
    --fourth: #ffefcf; */

    /* --first: #630000;
    --second: #810000;
    --third: #1b1717;
    --fourth: #eeebdd; */

    /* --first: #f39189;
    --second: #6e7582;
    --third: #046582;
    --fourth: #bb8082; */

    /* --first: #fb743e;
    --second: #c5d7bd;
    --third: #9fb8ad;
    --fourth: #383e56; */

    --first: #ffdf91;
    --second: #eaac7f;
    --third: #91684a;
    --fourth: #493323;
}

::-webkit-scrollbar{
    display: none;
}

::placeholder {
    color: var(--third);
    opacity: 1; /* Firefox */
}

@keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

*{
    margin:0;
    padding:0;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

/* Global Classes */
.border-box{
    border: 2px solid var(--fourth);
    border-radius: 7px;
    box-shadow: 0 0 7px var(--second);
}
.push-up{
    color: var(--third);
    cursor: pointer;
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
}
.push-up:hover{
    color: var(--fourth);
    transform: translateY(-5px);
}
.dis-flex{
    display: flex;
    flex-wrap: wrap;
}
.animated{
    animation: open 1.5s ease-in-out;
}


body{
    background-color: var(--first);
    color: var(--fourth);
    font-family: 'Bebas Neue', cursive;
    font-size:18px;
}

/* HEADER */
.header{
    align-items: center;
    font-size: 2rem;
    justify-content:space-between;
    margin-bottom: 2rem;
}

/* HEADER SVG */
.header svg{
    transform: rotate(0deg);
    transition: transform 0.6s ease;
}
.header svg:hover{
    transform: rotate(360deg);
}

/* HEADER NAV */
.header .desktop{
    display: flex;
    padding: 0.5rem;
}

/* HEADER MOBILE-MENU */
.header .mobile-menu,.header .mobile-menu-x{
    display: none;
}

/* HEADER NAV-ITEM */
.header .nav-item{
    margin-right: 1rem;
}
.header .nav-item:first-child{
    color:var(--fourth);
    text-decoration: wavy underline;
}

/* HOME CONTENT */
.home-content{
    align-items: center;
    flex-direction: column;
}

/* HOME CONTENT TITLE */
.home-content .title{
    display: flex;
    font-size: 10vw;
}
.home-content .title *{
    margin: 0 0.5rem;
}

/* HOME CONTENT BIO */
.home-content .bio{
    font-size: 1.5rem;
    margin: 0.7rem;
    text-align: center;
}


/* ABOUT-CONTENT */
.about-content{
    font-size: 1.5rem;
    justify-content: center;
}

/* ABOUT-CONTENT ASIDE */
.about-content aside{
    margin: 1.5rem;
    margin-top: 0;
    padding: 1rem;
    padding-top: 0;
    text-align: center;
    max-width:30%;
}
.about-content aside img{
    max-width: 70%;
}

/* ABOUT-CONTENT SECTION */
.about-content section{
    margin: 0 0 1.5rem 1.5rem;
    padding: 1rem;
    padding-top: 0;
    max-width: 55%; 
}
.about-content section a,.about-content section span{
    display: inline-block;
    text-decoration: underline wavy;
}
.about-content section .skills{
    font-size: 3rem;
    justify-content: space-evenly;
}
.about-content section .skills *{
    margin: 0 10px;
}

/* PROJECT-CONTENT */
.project-content{
    justify-content:center;
}

/* PROJECT */
.project{
    display: grid;
    grid-template-rows: 70px 0.5fr 1fr 0.5fr;
    padding: 0.4rem;
    margin: 0.6rem;
    width: 350px;
}

/* PROJECT H2 */
.project h2{
    text-align: center;
    align-self: center;
}

/* PROJECT IMG */
.project img{
    border-radius: 7px;
    margin: auto;
    max-width: 100%;
    max-height: 145px;
}

/* PROJECT DETAILS */
.project details{
    padding: 0.4rem;
}
.project details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}
.project details summary::-webkit-details-marker{
    display: none;
}
.project details summary {
    cursor: pointer;
    font-size: 25px;
    list-style: none;
    text-align: center;
}
.project details p{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

/* PROJECT LINKS */
.project .links{
    align-self: end;
    font-size: 2.5rem;
    padding: 0.3rem;
}
.project .links a{
    margin-right: 15px;
    color: var(--fourth);
}
.project .links a:hover{
    color: var(--second);
}

/* CONTACT CONTENT */
.contact-content{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* CONTACT CONTENT BUTTONS */
.contact-content .buttons{
    font-size: 5rem;
}
.contact-content .buttons a{
    color: var(--fourth);
    text-decoration: none;
}
.contact-content .buttons i{
    padding: 1rem;
    margin: 1rem;
}
.contact-content .buttons i:hover{
    border: 2px solid var(--third);
    color: var(--third);
}

/* CONTACT CONTENT FORM */
.contact-content form{
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vh;
    width: 80%;
}
.contact-content form *{
    background-color: var(--first);
    color: var(--fourth);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-top: 8px;
    padding:0.7rem;
}
.contact-content form input{
    height: 7vh;
    width: 100%;
}
.contact-content form textarea{
    height: 40vh;
    width: 100%;
    resize: none;
}
.contact-content form button{
    cursor: pointer;
    height: 7vh;
    padding: 0;
    width: 30%;
}
.contact-content form button:hover{
    border: 2px solid var(--third);
    color: var(--third);
}


/* FOOTER */
.footer{
    background-color: var(--fourth);
    height: 6.5vh;
    text-align: center;
}
.footer p{
    color: var(--first);
    font-size: 2rem;
}

@media screen and (max-width: 650px) {
    .header{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 0.5fr;
        text-align: end;
    }
    .header .desktop{
        animation: open 0.3s ease-in-out;
        display: none;
        grid-column: 1 / 4;
        grid-row: 2;
    }
    .header svg{
        grid-column-start: 2;
    }
    .header .mobile-menu, .header .mobile-menu-x{
        align-self: start;
        display:block;
        grid-column-end: -1;
        margin: 10px 15px 0 0;
    }
    .header .mobile-menu-x{
        display: none;
    }
    .about-content aside{
        max-width: 100%;
    }
    .home-content .bio{
        margin-bottom: 27vh;
    }
}